Leaderboard/.DS_Store/
Leaderboard/__pycache__/
pebbleLeaderboard/__pycache__/
pebbleLeaderboard/.DS_Store/
/.DS_Store/
.env
/pebbleLeaderboard/.env
/Leaderboard/.env
/uploads/
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
